* { 
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
     box-sizing: border-box; 
}

body{
    margin: 0;
    background-color: rgba(10, 10, 10, 1);
    color: $color-primary;
}