@use "../utils" as u;

.contact{
    width: 100%;
    text-align: center;
    padding-bottom: 50px;

    @include u.tablet-only{
        padding-top: 50px; 
    }
}

.contact__title{
    width: auto;
    margin: auto;
    text-align: center;
    font-size: 1.7rem;

    @include u.desktop-only{
        font-size: 2.7rem;
    }
}

.contact__image{
    width: 80%;
    margin: auto;

    @include u.tablet-only{
        width: 400px;
    }

    @include u.desktop-only{
        width: 550px;   
    }
}

.contact__button-container{
    display: flex;
    flex-direction: column;
    align-items: center;

    @include u.tablet-only{
        flex-direction: row;
        justify-content: center;
    }
}

.contact__button-container a{
    width: 80%;

    @include u.tablet-only{
        
        width: 300px;
        margin: 0 10px;
    }
}

.contact__button{
    width: 100%;
    color: white;
    background-color: transparent;
    border-radius: 30px;
    border: 2px solid white;
    padding: 15px;
    margin: 15px auto;
    font-size: 1.1rem;
    font-family: 'JetBrains Mono', monospace;
    font-weight: 300;
    cursor: pointer;
    transition: all 0.5s;

    &:hover{
        color: black;
        background-color: white;
    }
}